* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #4781b4;
    text-align: center;
    color: rgb(37, 37, 37);
}

main,
footer {
    background-color: #fff;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow:3px 3px 5px black;
}

h1,
h2 {
    color: #4781b4;
    font-size: 20px;
}

h1 {
    margin-top: 25px;
}

header img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

img.git {
    width: 200px;
    height: 100px;
}

article {
    margin-bottom: 50px;
}

article h2 {
    margin-bottom: 20px;
}

a {
    color: #4781b4;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

footer ul {
    list-style-type: none;
}